

<div class="row">
    <div class="col-md-6 col-centered" style="text-align: center;">
        <h1>Done!</h1>
    </div>
</div>




<div class="row">
    <div class="col-md-6 col-centered" style="text-align: center;">
        <div class="jumbotron">
            <h3>You have rated all the pictures. Click on the button below to see your rating results.</h3>
            <button class="btn btn-success center-horizontal" onclick="location.href='@Url.Action("Index", "Ratingresult")'"> Show results &raquo; </button>
        </div>
    </div>



</div>